<body id="body" class="body">
    <header>
        <nav class="user__header__navbar navbar ">
            <div
                class="btn-group user__header__navbar__container__fluid btn-group container-fluid d-flex justify-content-end  justify-content-sm-between">
                <a id="brand" class="user__header__navbar__brand navbar-brand col-md-2" href="#"> <span
                        class="user__name"></span> Kanban Board</a>
                <div class="user__header__navbar__dropdown dropdown">
                    <button type="button" class="user__header__dropdown__btn btn dropdown-toggle "
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="user__header__navbar__account__icon" src="../img/userPage/person-circle.svg"
                            alt="person-avatar">
                    </button>
                    <ul class="user__header__navbar__dropdown__menu dropdown-menu dropdown-menu-end"
                        aria-labelledby="dropdownMenuButton">
                        <li><a class="user__header__navbar__dropdown__item dropdown-item" href="#"><button
                                    id="user__btn__profile" class="btn__out ">Profile
                                </button></a></li>

                        <li> <a id="user__header__outElement" class="user__header__navbar__dropdown__item dropdown-item"
                                href=""></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <main class="user__main">
        <div class="kanban">

        </div>
        </div>
    </main>
   
</body>